@font-face { font-family: 'boldfont'; src: url(font/THE\ BOLD\ FONT.ttf); }
@font-face { font-family: 'heavitas'; src: url(font/Heavitas.ttf); }
@font-face { font-family: 'florensa'; src: url(font/Florensa-Demo.ttf); }
@font-face { font-family: 'bebas'; src: url(font/BebasKai.ttf); }
@font-face { font-family: 'roboto'; src: url(font/Roboto-Regular.ttf); }
@font-face { font-family: 'poppins-reg'; src: url(font/Poppins-Regular.ttf); }

html{
    font-size: 16px;
}
body{
    background-color: #e4e3e3;
    height: 100vh;
    font-family: poppins-reg;
}
.him
.container{
    width: 50%;
}
.form-card {
    width: 60%;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}
.login {
    background-color: #1CB273;
    color: #fff;
}
.sapa{
    font-family: Arial, Helvetica, sans-serif;
}
.halo{
    font-family: bebas; 
    font-size: 1.5rem; 
    margin: -0.25rem 0rem;
}
.hima{
    font-family: heavitas;
    font-size: 1.75rem;
    color: white;
}
.masuk{
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
    width: 6rem; 
    background-color: #2e2e2e;
    color: white;
    text-decoration: none;
}
.login{
    width: 6rem; 
    font-size: 0.875rem;
}
.offcanvas {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.form-control {
    margin-bottom: 1.25rem;
    width: 20rem;
    height: 2.5rem;
    border: #2e2e2e 2px solid;
    padding-left: 2.5rem;
    font-size: 0.875rem;
}
.form-control:focus {
    box-shadow: 0 0 5px 0 #1CB273;
    border-color: #1CB273;
    transition: box-shadow 0.3s ease-in-out;
}
.eye-icon{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%; 
    transform: translateY(-50%);
}
.input-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
}